@font-face {
  font-family: "Roboto-Thin";
  src: url("./assets/fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("./assets/fonts/Roboto-Light.ttf");
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.digital-clock {
  font-family: "Roboto-Thin";
  font-size: 8rem;
}

.date {
  font-family: "Roboto-Light";
  font-size: 5rem;
}
